{
  "presets": [
    "babel-preset-vue",
    [
      "@babel/preset-env",
      {
        "shippedProposals" : true,
        "useBuiltIns": "entry",
        "targets": {
          "ie": "11"
        },
        "corejs" : 3
      }
    ]
  ]
}